useDynLib("kaps")

## base packages
importFrom("graphics", plot)
importFrom("methods", show)
import("Formula")
import("survival")
import("coin")

export(kaps.control, kaps, count.mindat, km.curve)

exportClasses(kaps)
exportMethods(show, print, plot, predict, summary) 
